# This is a basic workflow to help you get started with Actions

name:
  Cron monitor github

on:
  # Triggers the workflow every hour at 16 minutes
  schedule:
    - cron: "16 * * * *"
  push:
    branches:
      - main

env:
  CR_URI: sanchousec.cr.cloud.ru

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Log in to Evolution Artifact Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3
        continue-on-error: true
        id: login
        with:
          registry: ${{ env.CR_URI }}
          username: ${{ secrets.EVO_CR_LOGIN }}
          password: ${{ secrets.EVO_CR_PASS }}

      - name: send telegram message about docker login on fail
        if: steps.login.outcome == 'failure'
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Ошибка логина из Github Action

      - name: Build and push docker image to Evolution Artifact Registry
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        continue-on-error: true
        id: push
        with:
          push: true
          tags: ${{ env.CR_URI }}/giter:${{ github.run_id }}

      # - name: send telegram message on success
      #   if: steps.push.outcome == 'success'
      #   uses: appleboy/telegram-action@master
      #   with:
      #     to: ${{ secrets.TELEGRAM_TO }}
      #     token: ${{ secrets.TELEGRAM_TOKEN }}
      #     message: |
      #       Получилось запушить образ из Github Action

      - name: send telegram message about docker on fail
        if: steps.push.outcome == 'failure'
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            Ошибка пуша из Github Action
